h1 {
  background-color:yellow;
}
<h1>Natural Looks</h1>
.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 100px; /* 2 */

    padding-right: 1px; /* 3 */
    padding-left:  1px; /* 3 */
}