<!DOCTYPE html>
<!DOCTYPE html>
<html>
<form action='/database' method = "post">
<head>
	
<style>
body{
	body{
   background-color:#CCBBFF;
    }

</style>
<body>

   


<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{url_for('home_page')}}" type="button"class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{{url_for('signup')}}" type="button"class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
    <a href="{{url_for('login')}}" type="button" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
    <a href="{{url_for('logout')}}" type="button" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>


<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#signup" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SIGN UP</a>
  <a href="#login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG IN</a>
  <a href="#logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG OUT</a>
</div>


<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

</body>
</html>