<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<title>Cello colors</title>
</head>
<body>

<h1>Natural products</h1>
<p></p>
 <div class="container">
      <div class="row">
      <div class="col-4">
        <p>sizes</p>
      </div>
      <div class="col-8">
       
      </div>
    </div>
    <div class="row">
    <div class="col-4">
      <p>4/4-size</p></div>
      <div class ="col-8">
    <img src="p1.png">

  </div>
</body>
</html>
